img {
  height: 165px;
  width: 100%;
  background-image: url('image/aboutme.jpg');
  background-size: cover;
}
.projectsHeader{
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
.homeBody{
  background-size: cover;
  background-image: url('image/keyboard.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.aboutMeBody{
  position:relative;
  overflow-x: hidden;
}
.projectsBody{
  position: relative;
  overflow-x: hidden;
}
.contactMeBody{
  text-align: center;
  overflow-x: hidden;
  position: relative;
}
.footerHome{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: black;
  text-align: center;
  display: block;
}
.footerContactMe{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: black;
  text-align: center;
  display: block;
}
.footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: black;
  text-align: center;
  display: block;
}
